# Database
POSTGRES_USER=postgres
POSTGRES_PASSWORD=changeme_in_production

# Kafka
KAFKA_BROKERS=kafka:9092

# Services
ORDER_SERVICE_PORT=8081
PAYMENT_SERVICE_PORT=8082
INVENTORY_SERVICE_PORT=8083
SHIPPING_SERVICE_PORT=8084

# Payment Gateway (Midtrans Sandbox)
MIDTRANS_SERVER_KEY=SB-Mid-server-xxxx
MIDTRANS_CLIENT_KEY=SB-Mid-client-xxxx
MIDTRANS_BASE_URL=https://api.sandbox.midtrans.com

# Courier API
JNE_API_KEY=your_jne_api_key
JNE_BASE_URL=https://api-sandbox.jne.co.id

# Observability
ZIPKIN_HOST=zipkin
ZIPKIN_PORT=9411

# Spring profiles
SPRING_PROFILES_ACTIVE=docker
